<div (click)="closeModal()" class="close">
    <span> x </span>
</div>

<section>
    <div class="detail">
        <div class="detail__image">
            <img 
                [src]="book.imageUrl" 
                [alt]="book.title" />
        </div>

        <div class="detail__description">
            <header>
                <h1> {{ book.title }} </h1>
                <span> {{ book.authors.join(", ") }} </span>
            </header>

            <div class="detail__info">
                <h2> Informações </h2>
                <div>
                    <span>
                        <label> Páginas </label>
                        <label> {{ book.pageCount }} Páginas </label>
                    </span>
                    <span>
                        <label> Editor </label>
                        <label> Editora {{ book.publisher }} </label>
                    </span>
                    <span>
                        <label> Publicação </label>
                        <label> {{ book.published }} </label>
                    </span>
                    <span>
                        <label> Idioma </label>
                        <label> {{ book.language }} </label>
                    </span>
                    <span>
                        <label> Titulo Original </label>
                        <label> {{ book.title }} </label>
                    </span>
                    <span>
                        <label> ISBN-10 </label>
                        <label> {{ book.isbn10 }} </label>
                    </span>
                    <span>
                        <label> ISBN-13 </label>
                        <label> {{ book.isbn13 }} </label>
                    </span>
                </div>
            </div>

            <div class="detail__bio">
                <h2>Resenha da Editora</h2>
                <span> {{ book.description }} </span>
            </div>
        </div>
    </div>
</section>