@import '../../../../../assets/styles/variable.scss';

.detail {
    max-width: 700px;
    width: 100%;
    padding: 10px;

    position: absolute;
    background: $color-white;

    box-shadow: 0px 16px 80px $color-light-black;
    border-radius: 4px;

    display: grid;
    grid-template-columns: 50% 50%;

    &__image {
        padding: 20px;

        > img {
            width: 100%;
            height: 100%;
        }
    }

    &__info {
        > div {
            width: 100%;
            font-size: 14px;

            display: flex;
            flex-direction: column;
            line-height: 1.5;

            > span {
                display: flex;
                justify-content: space-between;

                label:last-child {
                    color: $color-light-gray;
                }
            }
        }
    }

    &__bio {
        > span { 
            font-size: 14px;
            line-height: 1.3;
            color: $color-light-gray;
            text-align: justify;
        }
    }

    &__description {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 15px;

        > header {
            min-height: 85px;
            
            > h1 {
                margin-bottom: 10px;
            }

            > span {
                color: $color-pink;
                font-size: 14px;
            }
        }
    }
}

section {
    width: 100%;
    height: 100vh;
    background: $background-modal;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;

}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 0;
} 

.close {
    position: absolute;
    right: 15px;
    top: 15px;

    width: 20px;
    height: 20px;

    border-radius: 50%;
    text-align: center;
    background: $color-white;
    
    cursor: pointer;
    z-index: 1;

    > span {
        color: $color-strong-gray;
    }
}

@media (max-width: 767.98px){ 
    section {
        height: 100rem;

        .detail {
            width: 90%;
            display: flex;
            flex-direction: column;
        }
    }
}