<section class="login">
    <div class="login__container">
        
        <h1> IOASYS <span> Books </span> </h1>

        <form>
            <span class="login__field">
                <span>Email</span>
                <input type="text" name="email" [(ngModel)]="login.email" />
            </span>

            <span class="login__field login__field--password">
                <span>
                    <span>Senha</span>
                    <input type="password" name="password" [(ngModel)]="login.password" />
                </span>

                <button type="button" (click)="signIn()"> Entrar </button>
            </span>
        </form>
    </div>
</section>
